<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.ac.ssu.wherealarmyou">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver
            android:name=".alarm.component.GroupAlarmReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="action.GROUP_ALARM_REGISTER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_launcher_background" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" /> <!-- Firebase Cloud Messaging -->
        <service
            android:name=".alarm.component.FirebaseGroupAlarmService"
            android:directBootAware="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".alarm.component.AlarmNotifyService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".alarm.component.AlarmRegisterReceiver"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name=".alarm.component.AlarmNotifyReceiver"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name=".alarm.component.AlarmBootReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name=".view.alarm.AlarmActivity" />
        <activity android:name=".view.MainActivity"></activity> <!-- login package activities -->
        <activity android:name=".view.login.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.login.SignUpActivity" />
        <activity
            android:name=".view.login.LoginActivity"
            android:theme="@style/MyTheme" />
        <activity android:name=".view.login.FindPasswordActivity" />
        <activity android:name=".view.login.ProfileActivity" />
        <activity android:name=".view.login.SetUserInfoActivity" />
        <activity
            android:name=".view.MainFrameActivity"
            android:screenOrientation="portrait">
        </activity> <!-- Naver Mobile Dynamic Map SDK를 위한 설정 -->
        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="@string/naver_cloud_platform_client_id" />
    </application>
</manifest>